kulturnav-sparql.byabbe.se {
	encode gzip

	@missing_user_agent header !User-Agent

	handle @missing_user_agent {
		respond "The User-Agent header is is required." 403 {
			close
		}
	}

	handle_path /config/* {
		root * /opt/kulturnav-sparql/thor-configuration
	}

	root * /opt/kulturnav-sparql/thor
	file_server {
		hide .git docs REAMDE.md .gitignore
	}

	handle_path /query {
		rewrite * /kulturnav/sparql
		reverse_proxy http://localhost:3030
	}

	handle_path /ping {
		rewrite * /$/ping
		reverse_proxy http://localhost:3030
	}
}
